/************************ root ***********************/
:root {
  /* color */
  --background-color: rgb(232 232 237/70%);
  --white-background-color: rgb(255, 255, 255);
  --inner-glow-color: rgb(0 0 0/11%);
  --text-color: rgb(29, 29, 31);
  --accent-color: #0071e3;
  --icon-color: #1d1d1f;
  --icon-color-alt: rgb(245, 245, 247);
  --active-fill-color: #29292a;
  --inactive-fill-color: #a1a1a2;
  --button-hover: rgb(223 223 227/69.8%);
  --button-active: rgb(193 193 198/65.4%);
  --dotnav-background: rgb(29 29 31/60%);
  --dotnav-background-hover: rgb(0 0 0/54%);
  --paddlenav-arrow-color: rgb(110, 110, 115);
  --paddlenav-arrow-color-hover: rgb(0 0 0/64%);
  --paddlenav-background-hover: rgb(0 0 0/4.48%);
}

/************************ common values ***********************/

html {
  background-color: var(--background-color);
  box-sizing: border-box;
  width: 100%;
}

body {
  position: relative;
  min-width: 320px;
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: 'Roboto', sans-serif;
  /* font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
  sans-serif; */
  background-color: var(rgb(255, 255, 255));
  color: var(rgb(29, 29, 31));
  font-style: normal;
}

p,
span {
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--background-color);
  box-sizing: border-box;
  width: 100%;
}

body {
  position: relative;
  min-width: 320px;
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: 'Roboto', sans-serif;
  /* font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
  sans-serif; */
  background-color: var(rgb(255, 255, 255));
  color: var(rgb(29, 29, 31));
  font-style: normal;
}

p,
span {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  border: none;
}

/************************ responsive ***********************/

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 600px) {
}
