.container {
  overflow: hidden;
  width: 100%;
  background-color: var(--background-color);
}

.wrap {
  line-height: 1.4285914286;
  font-weight: 400;
  letter-spacing: -0.016em;
  text-align: center;
  display: flex;
}

.content {
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  flex-basis: 50%;
  max-width: 50%;
  font-size: var(--ribbon-text);
}

.paragrapheWrap {
  margin: 0 auto;
  max-width: 370px;
}

.link {
  color: blue;
  cursor: pointer;
}
